.cartHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.headerTitle {
  font-size: 2rem;
}

.detailsMain {
  display: flex;
}

.productsSection {
  width: 70%;
  height: 50vh;
  overflow-y: scroll;
}

.priceSection {
  width: 30%;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  height: 100%;
}

.heading {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.detailsSection {
  display: flex;
  flex-direction: column;
}

.detailsBox,
.totalBox {
  display: flex;
  justify-content: flex-start;
  margin: 5px 10px;
}

.detailsKey,
.detailsValue {
  font-size: 1.2rem;
}

.detailsKey {
  min-width: 15vw;
}

.detailsValue {
  font-weight: bold;
}

.divider {
  height: 1px;
  background-color: var(--border-color);
  width: 100%;
  margin-top: 1rem;
}

.orderButton {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--order-button-color);
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.overview {
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 60vw;
}

.main {
  padding: 1rem 4rem;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .detailsMain {
    flex-direction: column;
  }
  .detailsBox {
    justify-content: space-between;
  }
  .priceSection {
    width: 100%;
    border: none;
  }
  .productsSection {
    width: 100%;
    height: 50vh;
  }
  .overview {
    margin: 0;
  }
  .mobile {
    display: none;
  }
  .main {
    padding: 1rem;
  }

  .headerTitle {
    margin-bottom: 1rem;
  }

  .heading {
    margin: 0;
    font-size: 1rem;
  }

  .overview {
    display: none;
  }

  .orderButton {
    padding: 0.8rem;
    margin: 0.5rem 0;
  }

  .productsSection,
  .priceSection {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .totalBox {
    justify-content: space-between;
  }
  .cartHeader {
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
