.cartItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
  background-color: rgb(251, 251, 251);
}

.imageContainer {
  margin: 1rem;
  width: 10vw;
  max-width: 100%;
  height: auto;
}

.imageContainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid rgb(235, 235, 235);
}

.heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.details {
  font-weight: bold;
}

.detailsSection {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.quantity {
  width: 100%;
  padding: 5px 10px;
  border: none;
}

.deleteButton {
  display: flex;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: white;
  cursor: pointer;
}

.container {
  display: flex;
}

.container img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid rgb(235, 235, 235);
}

.detailsBox {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.deleteText {
  font-size: 1.5rem;
  font-weight: bold;
}

.cancelButton,
.confirmButton {
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.confirmButton {
  background-color: rgb(152, 64, 64);
  color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .cartItem {
    /* flex-direction: column; */
    align-items: flex-start;
  }

  .imageContainer {
    margin-bottom: 1rem;
    width: 30vw;
  }

  .detailsSection {
    flex-direction: column;
  }

  .heading {
    margin: 10px 0;
  }

  .quantity {
    width: 50%;
  }

  .priceSection,
  .quantitySection,
  .totalSection {
    display: flex;
    gap: 10px;
  }
  .deleteButton {
    display: none;
  }
  .deleteText {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .heading {
    font-size: 1rem;
  }
  .deleteText {
    font-size: 1rem;
  }
}
