.backContainer {
  display: inline-block;
}
.desktopBack {
  border-radius: 20px;
  margin: 1rem 0;
  padding: 10px 20px;
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
}

.backButton {
  border-radius: 50%;
  display: inline-block;
}

.mobileBack {
  display: none;
}

@media (max-width: 576px) {
  .desktopBack {
    display: none;
  }
  .mobileBack {
    display: inline-block;
  }
}
