.heading {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.noProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main {
  padding: 1rem 4rem;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }
  .mobile {
    display: none;
  }
  .main {
    padding: 1rem 2rem;
  }
}

@media (max-width: 576px) {
  .heading {
    font-size: 1.2rem;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .main {
    padding: 1rem;
  }
}
