.main {
  padding: 1rem 4rem;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 576px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
