.main {
  padding: 1rem 4rem;
}

.searchBar {
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 30px;
  padding: 1vh 2vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.searchInput {
  outline: none;
  border: none;
  width: 100%;
  padding: 1vh;
  font-size: 1rem;
}

.filterSection {
  margin: 2rem 0;
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layoutButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.filters {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter,
.sortFilter {
  padding: 0.5rem;
  border-radius: 20px;
}

.filter {
  background-color: var(--border-color);
}

.filter > option {
  background-color: white;
  padding: 2rem;
}

.productsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productsList {
  flex-direction: column;
  align-items: flex-start;
}

.mobile {
  display: none;
}

.feedbackSection {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 50;
}

.feedbackSection img {
  width: 8vw;
  height: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mobile {
    display: none;
  }
  .main {
    padding: 1rem 2rem;
  }
  .feedbackSection img {
    width: 15vw;
    height: auto;
  }
}

@media (max-width: 576px) {
  .desktop {
    display: none;
  }
  .searchBar {
    display: none;
  }
  .mobile {
    display: block;
  }
  .main {
    padding: 1rem;
  }
  .feedbackSection img {
    display: none;
  }
  .productsGrid,
  .productsList {
    margin-bottom: 8vh;
  }
}
