.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* background-color: red; */
}

.main {
  min-height: 94vh;
}

@media (max-width: 600px) {
  .main {
    min-height: 95vh;
  }
}

@media (min-width: 600px) {
  .mobile {
    display: none;
  }
}
